body{
    margin: 0;
}
/* styling the heading section */
#head{
    background-image: url("../images/theme2.jpg");
    background-size: contain;
    height: 40vh;
}

#heading{
    text-align: center;
    background: -webkit-linear-gradient(90deg,#006600, #00cc99, #009999);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#heading h1{
    font-size: 75px;
    padding-top: 30px;

}

/* styling the input form section */
#tasks{
    height: 100vh;
    padding-top: 20px;
    background: linear-gradient(45deg,#006600, #00cc99, #009999);
}

#task-submission{
    width: 70%;
    margin: auto;
}

.form-group{
    margin-bottom: 20px;
}

.label{
    margin-bottom: 5px;
}

.col{
    padding: 1px;
}

/* adding styles to add and delete buttons */
#add-del-buttons{
    display: flex;
    justify-content: center;
    margin: 20px;
}



#add-task{
    margin: 25px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 20px;
    border: 1px solid #00cc99;
    border-radius: 50px 50px;
    background-color: #009999;
    color: #fff;
    width: 200px;
    transition-duration: 0.5s;
}

#add-task:hover{
    box-shadow: 0 0 3px 3px #008066;
    transform: scale(1.1);
}

#del-task{
    margin: 25px;
    padding: 15px;
    padding-left: 18px;
    box-sizing: border-box;
    font-size: 20px;
    border: 1px solid #00cc99;
    border-radius: 50px 50px;
    background-color: #ff4d4d;
    color: #fff;
    width: 200px;
    text-align: center;
    transition-duration: 0.5s;
}

#del-task:hover{
    box-shadow: 0 0 3px 3px #008066;
    transform: scale(1.1);
}

#del-task a{
    text-decoration: none;
    color: #111;
    text-align: center;
}

